.footer {
  position        : absolute;
  bottom          : 0;
  height          : 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color           : rgba(255, 255, 255, 0.6);
  width           : 100%;
  text-align      : center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer>* {
  margin: 0;
}