<h2 mat-dialog-title>Confirm Deletion</h2>
<mat-dialog-content>
  <p class="mb-3">
    Are you sure you want to delete your account? There is no way to recover it after it's been
    deleted.
  </p>
  <mat-form-field appearance="outline">
    <mat-label>Confirm username</mat-label>
    <input type="text" matInput [placeholder]="user.username" [(ngModel)]="confirmUser">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close (click)="deletionConfirmed()"
    [disabled]="confirmUser != user.username">Delete</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>