<mat-card>
  <h1 mat-card-title>Search</h1>
  <mat-card-content>
    <div class="d-block">
      <form [formGroup]="movieQueryForm" (ngSubmit)="onTitleSearch()">
        <mat-form-field class="example-full-width">
          <mat-label>Movie Name</mat-label>
          <input matInput placeholder="The Godfather" formControlName="title">
        </mat-form-field>
        <button type="submit" mat-button>Search</button>
      </form>
    </div>
    <div *ngIf="movies">
      <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
    </div>
  </mat-card-content>
</mat-card>