// app-footer {
//   position: absolute;
//   bottom: 0;
//   width: 100vw;
// }

// app-navbar {
//   width: 100vw;
// }
// div.wrapper {
//   overflow: hidden;
// }

.app-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 5fr 0.2fr;
  column-gap: 1rem;
  grid-template-areas: 
  "nav nav nav nav"
  "main main main main"
  // "watchlist router router router"
  "footer footer footer footer";
}

.nav {
  grid-area: nav;
}

.main {
 grid-area: main;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  grid-template-areas: 
  "watchlist router router router"
}

.custom-container {
  margin: 0 20%;

}


.watchlist {
  grid-area: watchlist;
  padding: 1rem;
}

.router-area {
  grid-area: router;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  align-self: flex-end;
}

@media only screen and (max-width:991px) {
 .main-grid {
   grid-template-columns: 1fr;
   grid-template-rows: 0.1fr 1fr;
   grid-template-areas: 
   "watchlist"
   "router";
 } 
}









// sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px