<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 mb-3">
      <app-watchlist></app-watchlist>
    </div>
    <div class="col-12 col-md-8 col-lg-9 mb-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="app-grid">
  <div class="nav">
    <app-navbar></app-navbar>
  </div>
  <div class="main main-grid container">
    <div class="watchlist">
      <app-watchlist></app-watchlist>
    </div>
    <div class="router-area">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>