<div class="row text-light">
  <div class="col col-md-4">
    <div class="list-group">
      <button class="list-group-item list-group-item-action" *ngFor="let watchlist of watchlists"
        (click)="onSelectWatchlist(watchlist)" [class.active]="watchlist === selectedWatchlist">{{ watchlist.name
        }}</button>
    </div>
  </div>
  <div class="col">
    <div class="container" *ngIf="selectedWatchlist">

        <h4>{{ selectedWatchlist.name }}</h4>

        <app-movie *ngFor="let movie of selectedWatchlist.movies" [movie]="movie"></app-movie>

    </div>
  </div>
</div>