<mat-card class="container">
  <div class="d-flex justify-content-between header">
    <span class="mat-title">Watchlists</span>
    <button mat-mini-fab color="primary" (click)="openCreateWatchlist()" [disabled]="!canCreate">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-selection-list #watchlistsRef [multiple]="false">
    <mat-list-option *ngFor="let watchlist of watchlists" (click)="onSelectWatchlist(watchlist)">
      {{ watchlist.name }}
    </mat-list-option>
  </mat-selection-list>
</mat-card>