<form [formGroup]="changeForm" (ngSubmit)="onChangePassword()">
  <h2 mat-dialog-title class="mb-4">Change Password</h2>
  <div class="controls mb-3">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'text' : 'password'">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button type="submit" class="full-width" mat-raised-button color="accent" [disabled]="changeForm.invalid"
      mat-dialog-close>Change</button>
  </mat-dialog-actions>
</form>