<mat-card>
  <mat-tab-group mat-align-tabs="start" dynamicHeight>
    <mat-tab label="To Watch">
      <div style="margin:1rem 1rem;">
        <app-movie *ngFor="let movie of bookmarkedMovies" [movie]="movie" (bookmark)="toggleBookmark($event)"></app-movie>
        <div style="background-color: coral;height: 20px; margin: 4rem 1rem"></div>
        <app-movie *ngFor="let movie of toWatchMovies" [movie]="movie" (bookmark)="toggleBookmark($event)"></app-movie>
        <!-- <app-movie *ngFor="let movie of watchlist.movies" [movie]="movie"></app-movie> -->
      </div>
    </mat-tab>
    <mat-tab label="Watched">
      <div style="margin:1rem 1rem;">
        <!-- <app-movie *ngFor="let movie of sortedCollection" [movie]="movie"></app-movie> -->
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
