<div class="content p-3 mb-3">
  <div class="row">
    <div class="col-auto">
      <div class="d-flex" class="poster-container">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.posterPath" class="img-fluid rounded poster">
        <mat-icon class="trailer-icon">movie</mat-icon>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="d-flex justify-content-between">
        <div>
          <span class="mat-title"><a href="https://www.themoviedb.org/movie/{{ movie.id }}" class="movie-title"
              target="_blank">{{ movie.title
              | shorten : 26}}</a>
          </span>
          <div class="mat-body-1">{{ movie.releaseDate | date }}</div>
        </div>
        <div *ngIf="!searchType">
          <button mat-icon-button color="primary" *ngIf="!watched" (click)="onToggleBookmark()"
            [disabled]="!user || !user.permission.bookmark">
            <mat-icon>{{ bookmarkStatus? 'bookmark_remove' : 'bookmark_add' }}</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="!watched" (click)="onArchiveMovie()"
            [disabled]="!user || !user.permission.archive">
            <mat-icon>archive</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteMovie()" [disabled]="!user || !user.permission.delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div *ngIf="searchType">
          <button mat-icon-button color="accent" (click)="onAddMovie()" [disabled]="!user || !user.permission.add">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="genres mt-2 mb-3"><span class="badge me-1" *ngFor="let genre of movie.genres">{{ genre.name
          }}</span>
      </div>
      <div class="mat-body-1">{{ movie.overview | shorten : 250 }}</div>
    </div>
  </div>
  <!-- <span class="mat-caption" *ngIf="!searchType">{{ movie.club.addedBy }} / {{
      movie.club.dateAdded | date }}</span> -->
</div>