.content {
  background: rgba(25, 1, 184, 0.6);
  background: -webkit-linear-gradient(bottom right, rgba(25, 1, 184, 0.6), rgba(21, 21, 21, 0.6));
  background: -moz-linear-gradient(bottom right, rgba(25, 1, 184, 0.6), rgba(21, 21, 21, 0.6));
  background: linear-gradient(to top left, rgba(25, 1, 184, 0.6), rgba(21, 21, 21, 0.6));
}

.content.bookmark {
  background: rgba(1, 91, 184, 0.7);
  background: -webkit-linear-gradient(bottom right, rgba(1, 91, 184, 0.7), rgba(130, 128, 91, 0.7));
  background: -moz-linear-gradient(bottom right, rgba(1, 91, 184, 0.7), rgba(130, 128, 91, 0.7));
  background: linear-gradient(to top left, rgba(1, 91, 184, 0.7), rgba(130, 128, 91, 0.7));
}

.info {
  position: relative;
}

.action-container {
  position: absolute;
  top     : 0;
  right   : 0.5rem;
}


img.poster {
  width  : 140px;
  opacity: 100%;
}

.badge {
  padding         : 2px 8px;
  border-radius   : 5px;
  color           : rgba(255, 255, 255, 0.616);
  background-color: rgba(255, 255, 255, 0.062);
}

.added {
  position: absolute;
  bottom  : 0;
  right   : 1rem;
  opacity : 60%;
}

a.movie-title {
  color: rgb(255, 145, 0);
}

a.movie-title:hover {
  text-decoration: underline;
}

.rating {
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  color: black;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  padding: 4px;
  font-weight: bold;
}

@media only screen and (max-width: 1399px) {
  .hide-img {
    display: none;
  }

  .added {
    margin-top: 1rem;
    position  : static;
    float     : right;
  }
}

.title-container {
  width: 70%;
}