<div class="content p-3 mb-3" [class.bookmark]="bookmarkStatus">
  <div class="row">
    <div class="col-2 hide-img">
      <div class="d-flex" style="position: relative;">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.posterPath"
          class="img-fluid rounded poster mat-elevation-z3">
        <div class="rating" [appRating]="movie.voteAverage" matTooltip="TMDB Rating" matTooltipPosition="above">
          {{ movie.voteAverage | number : '1.1-1'}}
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-10 info">
      <div class="action-container">
        <div *ngIf="!searchType">
          <div *ngIf="toolbar">
            <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="this.user.username === null">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="d-block">
                <button mat-menu-item *ngIf="!watched" (click)="onToggleBookmark()"
                [disabled]="!user.permission.bookmark && !user.permission.admin">
                  {{ bookmarkStatus? 'Unbookmark' : 'Bookmark' }}
                </button>
                <button mat-menu-item *ngIf="!watched" (click)="onArchiveMovie()"
                [disabled]="!user.permission.archive && !user.permission.admin">
                  Archive
                </button>
                <button mat-menu-item (click)="onDeleteMovie()"
                [disabled]="(!watchlistOwner && !user.permission.admin)">
                  Delete
                </button>
              </div>
            </mat-menu>
          </div>

          <div *ngIf="!toolbar">
            <button mat-icon-button color="primary" *ngIf="!watched" (click)="onToggleBookmark()"
              [disabled]="!user.permission.bookmark && !user.permission.admin"
              [matTooltip]="bookmarkStatus? 'Unbookmark movie' : 'Bookmark movie'" matTooltipPosition="above">
              <mat-icon>{{ bookmarkStatus? 'bookmark_remove' : 'bookmark_add' }}</mat-icon>
            </button>
            <button mat-icon-button color="accent" *ngIf="!watched" (click)="onArchiveMovie()"
              [disabled]="!user.permission.archive && !user.permission.admin" matTooltip="Archive movie"
              matTooltipPosition="above">
              <mat-icon>archive</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteMovie()"
              [disabled]="!user.permission.delete && !user.permission.admin" matTooltip="Delete movie"
              matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="searchType">
          <button mat-icon-button color="accent" (click)="onAddMovie()"
            [disabled]="!user.permission.add && !user.permission.admin" matTooltip="Add to Watchlist"
            matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="!watched" (click)="onArchiveMovie()"
            [disabled]="!user.permission.archive && !user.permission.admin" matTooltip="Archive movie"
            matTooltipPosition="above">
            <mat-icon>archive</mat-icon>
          </button>
        </div>
      </div>
      <div class="title-container">
        <span class="mat-title"><a href="https://www.themoviedb.org/movie/{{ movie.id }}" class="movie-title"
            target="_blank">{{ movie.title }}</a>
        </span>
      </div>
      <div class="mat-body-1">{{ movie.releaseDate | date }}</div>
      <div class="genres mt-2 mb-3">
        <span class="badge me-1" *ngFor="let genre of movie.genres">{{ genre.name
          }}</span>
      </div>
      <div class="mat-body-1">{{ movie.overview | shorten : 600}}</div>
      <div class="mat-caption added" *ngIf="!searchType && !watched" matTooltip="Added by" matTooltipPosition="above">{{
        movie.club.addedBy }} / {{
        movie.club.dateAdded | date }}
      </div>
      <div class="mat-caption watched" *ngIf="!searchType && watched" (click)="openWatchedInfo()">
        <div class="d-flex align-items-center" matTooltip="Click for more info" matTooltipPosition="above">
          <mat-icon class="icon-info">info</mat-icon>
          {{ movie.club.dateWatched | date }}
        </div>
      </div>
    </div>
  </div>
</div>